
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout1</title>
</head>
<body>
    <div style="height:100px;width:200px;background-color:skyblue"> 
        <h1>hello world</h1> 
        <br />
        @RenderBody()
     </div>
</body>
</html>
